@font-face {
    font-family: "G Black";
    src: url("../static/fonts/Gotham-Black.otf");
}

@font-face {
    font-family: "G Bold";
    src: url("../static/fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: "G Book Italic";
    src: url("../static/fonts/Gotham-BookIta.otf");
}

@font-face {
    font-family: "G Light";
    src: url("../static/fonts/Gotham-Light.otf");
}

@font-face {
    font-family: "G Thin";
    src: url("../static/fonts/Gotham-Thin.otf");
}

@font-face {
    font-family: "G Thin Italic";
    src: url("../static/fonts/Gotham-ThinItalic.otf");
}

@font-face {
    font-family: "G Ultra Italic";
    src: url("../static/fonts/Gotham-UltraItalic.otf");
}

@font-face {
    font-family: "G X Light";
    src: url("../static/fonts/Gotham-XLight.otf");
}

@font-face {
    font-family: "G X Light Italic";
    src: url("../static/fonts/Gotham-XLightItalic.otf");
}

@font-face {
    font-family: "G Bold Italic";
    src: url("../static/fonts/GothamBoldItalic.ttf");
}

@font-face {
    font-family: "G Book";
    src: url("../static/fonts/Gotham\ Book.otf");
}

@font-face {
    font-family: "G Medium";
    src: url("../static/fonts/Gotham\ Medium.otf");
}

@font-face {
    font-family: "G Medium1";
    src: url("../static/fonts/GothamMedium_1.ttf");
}

@font-face {
    font-family: "G Medium Italic";
    src: url("../static/fonts/GothamMediumItalic.ttf");
}